@charset "UTF-8";



.clear { /* float 사용 후 반드시 사용해줄것*/
	clear: both;
}

section{	/* 전체 section의 범위 조정*/
	max-width:1280px;
	width:900px;
	margin: auto;
}
table {	/* table 크기 조정*/
	border-top: 0.5px solid gray;
	border-collapse: collapse;
	padding: 5px 20px;
	text-align : center;
	border-radius: 10px;
	width:1000px;
	height:550px;
}
th {
	border-bottom : 0.5px solid black;
	padding: 5px 40px;
	background-color: #E2E2E2;
}

table,th,td {
	padding: 10px 40px;
}

td {
	font-size:17px;	
	border-bottom: 0.5px solid black;
}

form#frm {
	width: 1000px;
}

.title {
	padding: 5px 180px;
}

.num {
	padding: 10px 10px;
}

.num1 {
	padding: 10px 10px;
}

#pageinfo {	
	padding: 0px 0px;
	font-size:20px;
	
}
#pageRows {
	float: right;
	padding: 0px 0px;
}

select {
	text-align: center;
	font-size:20px;
	width:100px;
}

div.page-wrap {
	width: 1000px;
}

#head {
	text-align: left;
	font-size:20px;
}

.head-wrap {
	width: 1000px;
	height: 40px;
}

div.center  {
	display:flex;
	width :1000px;
	height: 50px;
	margin-top: 2px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

a {
	width:100px;
	height:10px;
}
ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px;
	padding: 0px 150px;
	
}
li {
	list-style: none;
	padding:5px 10px;
	font-size: 25px;
}

input#input-search {
	height:30px;
	width: 200px;
	text-align: center;
}


li a:hover {
	cursor: pointer;
}

 .center #btn-search {
	margin-left:5px;
	padding:0px 0px;
	border: solid 1px #EDD8CA;
}
button#new-regi {
	width:100px;
	height: 35px;
	background-color: #DAEBEA;
	border: solid 1px #DAEBEA;
}

button#btn-search {
	width:150px;
	height:35px;
	background-color: #EDD8CA;
	border: solid 1px #EDD8CA;
}


