@charset "UTF-8";
section{
	width:1280px;
	margin:0 auto ;
	zoom:0.8;
}
h2{
	float:left;
	left:20%;
	position: relative;
	font-size:40px;
}
table{
	width:80%;
	margin:60px 18% 0 18%;
	border-spacing: 25px;
  	border-collapse: separate;
}
.signup-input{
	padding-left:130px;
	
}
.title{
	font-size:30px;
}
input[type=text],input[type=password] {

    width: 230px; /*가로크기*/

    height: 40px; 

    background-color: #fafafa; /*배경색*/

    border:1.5px solid #000000; /*테두리 두께, 선스타일, 색상*/

    border-radius:4px; /*테두리 둥글게*/

    outline:none; /*기본테두리안보이게*/

    padding:3px 3px 2px 7px; /*안쪽여백*/

    box-sizing:border-box; /*테두리를 기준으로 박스크기 설정*/

    transition:.3s; /*서서히 나타내기*/
	
	font-size:25px;
}	

input[type=text]:focus,input[type=password]:focus{


  border:2px solid #4285f4;

  box-shadow:0 0 8px 0 #4285f4;

  background-color: #ffffff;
}


button:active,input[type=submit]:active,input[type=button]:active,
button:hover,input[type=submit]:hover,input[type=button]:hover
button:focus,input[type=submit]:focus,input[type=button]:focus {
  background: white;
  outline: 0;
  color:black;
}
button:disabled,input[type=submit]:disabled {
  opacity: 0.5;
}
.last-button{
	width:50%;
	margin:0 35%;
}
.nextbtn{
	padding: 1.0rem 2.5rem;
	margin:0 0 50px 10px;
  	
  	font-size: 2.0rem;
  	text-align: center;
  	text-decoration: none;

  	display: inline-block;
  	width: auto;

  	border: none;
  	border-radius: 4px;
  	
  	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  	cursor: pointer;

 	background-color:#62564a;
 	
 	color:white;
}
.front-button{
	padding: 0.6rem 1.4rem;
	margin:0 0 0 20px;
  	
  	font-size: 1.4rem;
  	text-align: center;
  	text-decoration: none;

  	display: inline-block;
  	width: auto;

  	border: none;
  	border-radius: 4px;
  	
  	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  	cursor: pointer;

 	background-color:#62564a;
 	
 	color:white;
}
input[type=file]{
	font-size:20px;
	
}
.addstr{
	font-size:20px;
}