@charset "UTF-8";


/*모바일 화면*/

	.totallogin{
	width:80%;
	margin:0 auto;
    
    text-align:center;
}

.apilogin-1{
	
	padding-top: 1rem;
	margin-top: 6px;
}	

input[type=image]{
	 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
	
input[type=text],input[type=password] {

    width: 180px; /*가로크기*/

    height: 30px; 

    background-color: #fafafa; /*배경색*/

    border:1.5px solid #000000; /*테두리 두께, 선스타일, 색상*/

    border-radius:4px; /*테두리 둥글게*/

    outline:none; /*기본테두리안보이게*/

    padding:3px 3px 2px 7px; /*안쪽여백*/

    box-sizing:border-box; /*테두리를 기준으로 박스크기 설정*/

    transition:.3s; /*서서히 나타내기*/

}

/*포커스 되었을 때*/

input[type=text]:focus,input[type=password]:focus{


  border:2px solid #4285f4;

  box-shadow:0 0 8px 0 #4285f4;

  background-color: #ffffff;
}

input[type=submit] {
  /* 생략 */
  margin: 0;
  padding: 0.5rem 1.0rem;

  
  font-size: 1rem;
  
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;
	
  border: none;
  border-radius: 4px;
}
input[type=submit] {
  /* 생략 */
  	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  	cursor: pointer;
	background-color:#62564a;
  
}
input[type=submit]:active,
input[type=submit]:hover,
input[type=submit]:focus {
  background: white;
  outline: 0;
}
input[type=submit]:disabled {
  opacity: 0.5;
}

@media only screen and (min-width:1024px){
	h2{
		position: absolute;
	    font-size:40px;
	    transform: translate(-15%, -70%);
	    
	}
	section{
		max-width:1280px;
		margin:0 auto;
	}
	
	.totallogin{
		position: absolute;
		top: 35%;
	    left: 30%;
	 	width:auto;
	 	height:auto;
	}
	#loginbtn{
		position:absolute;
		transform: translate(-30%, 100px);
		height:38px;
		width:160px;
		
	}
	#loginfrm{
		position:absolute;
		width:150px; 
		min-height:200px;
		border-right:1.5px solid black;
		padding-right:30px;
		text-align:justify;
	}
	
	.login-1 {
		position: absolute;
	    transform: translate(-40%, 50px);
	    width:150px;
	    height:30px;
	}
	.login-2{
		position: absolute;
	    transform: translate(-40%, 70px);
	    width:150px;
	    height:30px;
	}
	.login-3{
		position: absolute;
	    transform: translate(235px, 125px);
	}
	.login-4{
		position: absolute;
	    transform: translate(345px, 125px);
	}
	
	.apilogin-1{
		transform:translate(235px, 45px);
		position: absolute;
	}
	
	.idandpw{
		width:150px;
	}
	.line {
		width:190px; 
		border-right:1px solid black;
		padding-right:12px;
		text-align:justify;
	}
	a{
	color:black;
	}
	a:hover{
	color:white;
	}
}
