@charset "UTF-8";



.clear { /* float 사용 후 반드시 사용해줄것*/
	clear: both;
}
section{	/* 전체 section의 범위 조정*/
	max-width:1280px;
	width:900px;
	margin: auto;
	
}



div.item {
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	
}

#title {
	padding: 0px 20px;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	
}

.head-left-con {
	display:flex;
	flex-direction: row;
	float: left;
}

.head-right-con {
	display:flex;
	flex-direction: row;
	float: right;
}

#result {
	border: 1px solid #EBEBEB;
	background-color: white;
	border-radius: 8px;
}



h2 #headtitle {
	text-align: left;
}

#btn_list {
	float: left;
	padding: 8px 20px;
	border: 1px solid #EBEBEB;
}

#btn_good {
	width:60px;
	height:60px;
	background-color: white;
	border:none;
	margin-left: 30em;
	
}

#btn_good:hover {
	cursor: pointer;
	
}

section i {
	 color: #0a0f75;
     font-weight: bold;
     font-size: 20px;
}

#btn_update, #doDelete, #btn_write {
	float: right;
	padding: 8px 20px;
	margin-left: 10px;
	border: 1px solid #EBEBEB;
	bor
}
/* 이하 댓글*/

#contents {
	width: 894px;
  height: 50px;
  font-size: 17px;
  margin: auto;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}

.comContent {
	width:894px;
  height:50px;
  font-size:17px;
}

.CoContain {
	display:flex;
  	flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: auto;
}

.exam {
	float:right;
	
}

.exam button {
	margin-left: 10px;
	margin-top: 5px;
}

	
#comment form {
	border:0.5px solid #EBEBEB;
	border-radius: 8px;
	background-color: white;
}

	
