@charset "UTF-8";

section{	/* 전체 section의 범위 조정*/
	max-width:1280px;
	width:900px;
	margin: auto;
	
}

/*박스오피스 개개별 칸 */
.movielink {
	display:flex;
    padding: 5px;
    text-align: center;
    flex-direction:column;
	width: 70%; 
    height: 90%; 
    margin: 0px;
    justify-content: center;
}

/*개개 이미지*/
.movielink img {
	width: 200px;
	height: 350px;
	margin: 0 auto;
}

.post-slider .post-wrapper{
  width:100%;
  height: 300px;
  margin:0 auto;
}

/*post slider*/
.post-slider{
  width:1200px;
  height:400px;
  margin:0px auto;
  align-items:center;
  position:relative;
}

.post-slider .prev{
  position:absolute;
  top:50%;
  left:30px;
  font-size:2em;
  color:gray;
    cursor: pointer;
}


.post-slider .next{
  position:absolute;
  top:50%;
  right:30px;
  font-size:2em;
  color:gray;
    cursor: pointer;
}